body {
  margin: 0;
  text-align: center;
  background-image: url("https://image.freepik.com/free-vector/two-hands-bumping-punching-vector-illustration-flat-design_101884-32.jpg");
  background-size: 100%;
}
